<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCFE_Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CCFE_Toolbox.Properties.Settings>
            <setting name="UserStandDia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserStandard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserSchedule" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserOD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserDefined" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserHollow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserColour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserToriStandDia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserToriStand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserToriSchedule" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserToriD1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserToriD2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserToriD3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserToriD4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserToriDeviation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserToriDefined" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserToriD2Select" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserToriD3Select" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserToriD4Select" serializeAs="String">
                <value>False</value>
            </setting>
        </CCFE_Toolbox.Properties.Settings>
    </userSettings>
</configuration>